# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/

# Django Database
db.sqlite3

# Media Files
media/

# Environment Variables
.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db